@media ( max-width : 480px ) {

  .ButtonDiv {
    display: flex;
    margin-bottom: 1em;
    margin-left: 1vw;
    overflow-x: scroll;
    white-space: nowrap;
    width: auto;
  }

  .ButtonDiv::-webkit-scrollbar {
    display: none;
  }

  .ButtonDiv button {
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
    color: #0d0d0d;
    font-family: Heebo , sans-serif;
    font-weight: 400;
    margin-right: 0.3em;
    width: auto;
  }

  .ButtonDiv button:active {
    background-color: #ff8e3c;
    box-shadow: none;
    color: #0d0d0d;
  }

  .ButtonDiv button:focus {
    background-color: #ff8e3c;
    box-shadow: none;
    color: #0d0d0d;
  }

  .ButtonDiv button:hover {
    background-color: #ff8e3c;
    box-shadow: none;
    color: #0d0d0d;
  }

  .ButtonPage {
    background-color: #eff0f3;
  }

}

.ButtonDiv {
  display: flex;
  margin-bottom: 1em;
  margin-left: 1vw;
  overflow-x: scroll;
  white-space: nowrap;
  width: auto;
}

.ButtonDiv::-webkit-scrollbar {
  display: none;
}

.ButtonDiv button {
  background-color: white;
  border: 1px solid black;
  border-radius: 30px;
  color: #0d0d0d;
  font-family: Heebo , sans-serif;
  font-weight: 400;
  margin-right: 0.3em;
  width: auto;
}

.ButtonDiv button:active {
  background-color: #ff8e3c;
  box-shadow: none;
  color: #0d0d0d;
}

.ButtonDiv button:focus {
  background-color: #ff8e3c;
  box-shadow: none;
  color: #0d0d0d;
}

.ButtonDiv button:hover {
  background-color: #ff8e3c;
  box-shadow: none;
  color: #0d0d0d;
}

.ButtonPage {
  background-color: #eff0f3;
}
