@media ( max-width : 480px ) {

  .ExplorePage {
    background-color: #eff0f3;
    display: flex;
    flex-direction: column;
    height: 73vh;
    justify-content: space-between;
  }

  .ExploreButtons {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .ExploreButtons button {
    background-color: #ff8e3c;
    border: 1px solid black;
    border-radius: 50px;
    color: #0d0d0d;
    font-family: Heebo , sans-serif;
    font-size: 20px;
    font-weight: 600;
    height: 3em;
    margin-bottom: 3em;
    width: 15em;
  }

  .ExploreButtons button:active {
    background-color: #ff8e3c;
    border: 1px solid black;
    border-radius: 50px;
    color: #0d0d0d;
    font-family: Heebo , sans-serif;
    font-size: 20px;
    font-weight: 600;
    height: 3em;
    margin-bottom: 3em;
    width: 15em;
  }

  .ExploreButtons button:focus {
    background-color: #ff8e3c;
    border: 1px solid black;
    border-radius: 50px;
    color: #0d0d0d;
    font-family: Heebo , sans-serif;
    font-size: 20px;
    font-weight: 600;
    height: 3em;
    margin-bottom: 3em;
    width: 15em;
  }

  .ExploreButtons button:hover {
    background-color: #ff8e3c;
    border: 1px solid black;
    border-radius: 50px;
    color: #0d0d0d;
    font-family: Heebo , sans-serif;
    font-size: 20px;
    font-weight: 600;
    height: 3em;
    margin-bottom: 3em;
    width: 15em;
  }
}

.ExplorePage {
  background-color: #eff0f3;
  display: flex;
  flex-direction: column;
  height: 73vh;
  justify-content: space-between;
}

.ExploreButtons {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.ExploreButtons button {
  background-color: #ff8e3c;
  border: 1px solid black;
  border-radius: 50px;
  color: #0d0d0d;
  font-family: Heebo , sans-serif;
  font-size: 20px;
  font-weight: 600;
  height: 3em;
  margin-bottom: 3em;
  width: 15em;
}

.ExploreButtons button:active {
  background-color: #ff8e3c;
  border: 1px solid black;
  border-radius: 50px;
  color: #0d0d0d;
  font-family: Heebo , sans-serif;
  font-size: 20px;
  font-weight: 600;
  height: 3em;
  margin-bottom: 3em;
  width: 15em;
}

.ExploreButtons button:focus {
  background-color: #ff8e3c;
  border: 1px solid black;
  border-radius: 50px;
  color: #0d0d0d;
  font-family: Heebo , sans-serif;
  font-size: 20px;
  font-weight: 600;
  height: 3em;
  margin-bottom: 3em;
  width: 15em;
}

.ExploreButtons button:hover {
  background-color: #ff8e3c;
  border: 1px solid black;
  border-radius: 50px;
  color: #0d0d0d;
  font-family: Heebo , sans-serif;
  font-size: 20px;
  font-weight: 600;
  height: 3em;
  margin-bottom: 3em;
  width: 15em;
}
