@media ( max-width : 480px ) {

  .RecipeDetailsPage {
    background-color: #eff0f3;
  }

  .RecipeDetailsInfo {
    max-height: 8em;
    padding-left: 1em;
    position: relative;
  }

  .RecipeDetailsInfo h1 {
    font-family: Heebo , sans-serif;
    font-weight: 500;
    margin: 0;
    width: 6em;
  }

  .RecipeDetailsInfo h3 {
    font-family: Heebo , sans-serif;
    font-size: 20px;
    font-weight: 300;
  }

  .RecipeDetailsInfoButtons {
    position: absolute;
    right: 1em;
    top: 0.5em;
  }

  .RecipeDetailsInfoButtons button {
    border: 0;
  }

  .RecipePhoto img {
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
  }

  .RecipePhoto {
    height: 250px;
    width: 100%;
  }

  .RecipeDetailsMain {
    padding-left: 1em;
    padding-right: 1em;
  }

  .RecipeDetailsMain h1 {
    font-family: Heebo , sans-serif;
    font-weight: 400;
  }

  .RecipeDetailsMain ul {
    background-color: white;
    border-radius: 2em;
    box-shadow: 0 15px 26px -12px rgb(30 30 60 / 25%);
    padding: 1em 1em 1em 2.5em;
  }

  .RecipeDetailsMain ul li {
    font-family: Heebo , sans-serif;
    font-size: 18px;
    font-weight: 300;
    list-style-image: url('../../images/fish-fins-solid.svg');
  }

  .RecipeDetailsInstructions {
    background-color: white;
    border-radius: 2em;
    box-shadow: 0 15px 26px -12px rgb(30 30 60 / 25%);
    margin-bottom: 1em;
    padding: 1em;
  }

  .RecipeDetailsInstructions p {
    font-family: Heebo , sans-serif;
    font-size: 18px;
    font-weight: 300;
  }

  .RecipeDetailsInstructions p:first-letter {
    font-size: 22px;
    text-transform: capitalize;
  }

  .RecomendationDiv {
    display: flex;
    flex-direction: column;
  }

  .RecomendationCards {
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
    margin-top: 1em;
  }

  .Card {
    display: flex;
    height: 19em;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: auto;
  }

  .Card span {
    color: black;
    text-decoration: none;
  }

  .Card div {
    color: black;
    height: 16em;
    margin-right: 1em;
    min-width: 9.8em;
    text-decoration: none;
  }

  .Card::-webkit-scrollbar {
    display: none;
  }

  .StartRecipeButtonDiv {
    bottom: 1em;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
  }

  .StartRecipeButton {
    align-items: center;
    border-radius: 10em;
    color: #0d0d0d;
    display: flex;
    font-family: Heebo , sans-serif;
    font-size: 30px;
    height: 40px;
    justify-content: center;
    min-width: 240px;
  }
}

.RecipeDetailsPage {
  background-color: #eff0f3;
}

.RecipeDetailsInfo {
  max-height: 8em;
  padding-left: 1em;
  position: relative;
}

.RecipeDetailsInfo h1 {
  font-family: Heebo , sans-serif;
  font-weight: 500;
  margin: 0;
  width: 6em;
}

.RecipeDetailsInfo h3 {
  font-family: Heebo , sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.RecipeDetailsInfoButtons {
  position: absolute;
  right: 1em;
  top: 0.5em;
}

.RecipeDetailsInfoButtons button {
  border: 0;
}

.RecipePhoto img {
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
}

.RecipePhoto {
  height: 250px;
  width: 100%;
}

.RecipeDetailsMain {
  padding-left: 1em;
  padding-right: 1em;
}

.RecipeDetailsMain h1 {
  font-family: Heebo , sans-serif;
  font-weight: 400;
}

.RecipeDetailsMain ul {
  background-color: white;
  border-radius: 2em;
  box-shadow: 0 15px 26px -12px rgb(30 30 60 / 25%);
  padding: 1em 1em 1em 2.5em;
}

.RecipeDetailsMain ul li {
  font-family: Heebo , sans-serif;
  font-size: 18px;
  font-weight: 300;
  list-style-image: url('../../images/fish-fins-solid.svg');
}

.RecipeDetailsInstructions {
  background-color: white;
  border-radius: 2em;
  box-shadow: 0 15px 26px -12px rgb(30 30 60 / 25%);
  margin-bottom: 1em;
  padding: 1em;
}

.RecipeDetailsInstructions p {
  font-family: Heebo , sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.RecipeDetailsInstructions p:first-letter {
  font-size: 22px;
  text-transform: capitalize;
}

.RecomendationDiv {
  display: flex;
  flex-direction: column;
}

.RecomendationCards {
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
  margin-top: 1em;
}

.Card {
  display: flex;
  height: 19em;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: auto;
}

.Card span {
  color: black;
  text-decoration: none;
}

.Card div {
  color: black;
  height: 16em;
  margin-right: 1em;
  min-width: 9.8em;
  text-decoration: none;
}

.Card::-webkit-scrollbar {
  display: none;
}

.StartRecipeButtonDiv {
  bottom: 1em;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
}

.StartRecipeButton {
  align-items: center;
  border-radius: 10em;
  color: #0d0d0d;
  display: flex;
  font-family: Heebo , sans-serif;
  font-size: 30px;
  height: 40px;
  justify-content: center;
  min-width: 240px;
}
